body{background-color:#F4F2EF;}
.mb-1--5{margin-bottom: 1.5rem;}
.mx-10px{margin: 0 10px;}
.mx-15px-0{margin: 15px 0;}
.my-2em{margin: 2em 0;}
.ml-5px{margin-left: 5px;}
.m0{margin: 0;}
.m--5-0{margin: .5em 0;}

.p1{padding: 1rem;}
.p2{padding: 2rem;}
.p3{padding: 3em;}
.p15px{padding: 15px;}


.mt-1em{margin-top: 1em;}

.py-3em{padding:0 3em;}
.p-0{padding: 0em;}

.pr-5px{padding-right: 5px;}
.pr-15px{padding-right: 15px;}

.pl-5px{padding-left: 5px;}
.p0{padding: 0;}

.h-30{height: 30px;}
.h-300{height: 300px;}
.h-500{height: 500px;}
.h-600{height: 600px;}
.w-100{width: 100%;}
.w-250{width: 250px;}
.w-150{width: 150px;}
.w-80{width: 80%;}
.w-70{width: 70%;}
.w-70px{width: 70px;}
.w-50{width: 50%;}
.nowrap-rz{white-space: nowrap;}
@media all and (min-width: 1024px) and (max-width: 1070px){
    .nowrap-rz{white-space: normal;}
}

.nowrap{white-space: nowrap;}
@media all and (min-width: 500px) and (max-width: 767px){
    .w-70{width: 45%;}
}

.obj-cover{
	object-fit: cover;
	height: 100%!important;
	object-fit: bottom;
}

.relative{position: relative;}
.absolute{position: absolute;}
.obj-contain{object-fit: contain;}

.br-0{
	bottom: 0;
	right: 0;
}

.z-5{z-index: 5;}
.z-1{z-index: 1;}

.center-center{
	display:flex;
	vertical-align: middle;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.center-center i{font-size: 3rem;color: #2F5F5F;}
.flex{display: flex;}
.flex-rz{display: flex;}
.flex-start{align-items: flex-start;}
.flex-end{align-items: flex-end;}
@media all and (min-width: 0px) and (max-width: 340px){
    .flex-rz {display: block;}
}
@media all and (min-width: 767px) and (max-width: 1024px){
    .flex-rz {display: block;}
}
.none{display: none;}
.contents{display: contents;}
.space-between{justify-content: space-between;}
.center{justify-content: center;}
.al-center{align-items: center;}

footer{background-color: #2F5F5F;}

.bebas{font-family: 'Bebas Neue', cursive;}
.dancing{font-family: 'Dancing Script', cursive;}
.arvo{font-family: 'Arvo', serif;}
.roboto-condensed{font-family: 'Roboto Condensed', sans-serif;}
.oswald{font-family:'Oswald', sans-serif;}
.bevan{font-family: 'Bevan', cursive;}

.brown-text{color: #765028;}
.mustache-text{color:#C7741C}

.text-center{text-align: center;}
.text-lefy{text-align: left;}

.fw-600{font-weight: 600;}
.fw-900{font-weight: 900;}

.fz-1--5{font-size: 1.5em;}
.fz-1--1{font-size: 1.1em;}
.fz--9{font-size: .9em;}

h1{font-size: 6em;font-family: 'Dancing Script', cursive;}


.ham{
		z-index: 3;
		position: absolute;
		top: 0;
		right: 0;
		margin: 2em 1em;
		text-align: right;
	}
.logo{
	top: 0;
	left: 0;
	height: 50px;
	z-index: 2;
	position: absolute;
	margin: 3em auto;
	right: 0;
	}

.logo-1{
	display: block;
	width: 170px;
	margin: 2em auto;
}
.img-1{
		height: 200px;
		object-fit: cover;
		width: 100%;
	}
.img-2{
	object-fit: contain;
	width: 50%;
	height: 50px;
}
.filter-black{
		background-color: #000;
		height: 100%;
		position: absolute;
		top: 0;
		opacity: .4;
		width: 100%;
	}
.filter-black-2{
		width: 100%;
		background-color: #000;
		height: 100%;
		position: absolute;
		top: 0;
		opacity: .5;
	}

.title-1:hover{
		color: #000;
		font-size: 3rem;
		background-color: #fbf9f7;
		padding: 15px;
		text-decoration:underline;
	}
.title-1{
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		color: #fff;
		font-size: 2.7rem;
		font-family: 'Bebas Neue', cursive;
	}
.title-2{
		position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    height: min-content;
    margin: auto;
    left: 0;
    right: 0;
	}
.foot-link{
	color: #000;
	text-decoration: none;
}
.subtitle{
	text-align: center;
	font-size: 3em;
	padding: 0.5em;
	color: #63544A;
	font-family: 'Bebas Neue', cursive;
	}
	.subtitle-2{
		color: #BC582A;
		font-size: 3em;
		font-family: 'Bebas Neue', cursive;
	}
	.subtitle-3{
	text-align: center;
	font-size: 2em;
	color: #63544A;
	font-family: 'Bebas Neue', cursive;
	}
	.subtitle-4{
		text-align: center;
    font-size: 4em;
    padding: 0.5em 0 0.5em 0.5em;
    color: #2F5F62;
    font-family: 'Bebas Neue', cursive;
    margin: 0;
	}
	.name{
		color: #683C10;
		font-weight: 600;
		margin: 0;
		white-space: nowrap;
	}
	.text-2{
		text-align: center;
		color: #A46A37;
		font-weight: 600;
		font-size: 1.1em;
		margin: 1em;
	}
	.text-3{
		font-family: 'Oswald';
    font-weight: 900;
    color: #A46A37;
    font-size: 1.3em;
	}
	.text-3 span{
		color: #AC5C00;
		font-size: .8em;
		font-weight: 300;
	}
	.text-4{
		font-family: 'Oswald';
    font-weight: 300;
    color: #A46A37;
    font-size: 1.3em;
	}


	@media all and (min-width: 0px) and (max-width: 767px){
		.mt-3-r{margin-top: 3rem;}
	}
.bg-1{background-color: #E4DECC;}
.bgcolor-1{background-color: rgba(251, 249, 247,0.6);}
.bg-green-light{background-color: #D5E7E3;}
.bg-brown-light{background-color: rgba(234,224,213,0.6);}

.brdr-1{border: .5px solid rgba(234,224,213,0.9);}

.brown-light-text{color: #936037;}
.brown-text{color: #683C10;}

.black-filter-1{
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 0;
		background-color: #000;
		opacity: 0;
	}
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 4; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #fbf9f7;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 2rem;
  color: #025002;
  display: block;
  transition: 0.3s;
  font-family: 'Bebas Neue', cursive;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #63544A;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.show-1{opacity: .5;transition: 0.5s;z-index: 3;}


.carousel-indicators{margin: 15px auto;}

.social{
	    display: inline-flex;
    justify-content: space-between;
    width: 200px;
    list-style: none;
    color: #fff;
    margin: auto;
}
.social li a{
	color: #fff;
	font-size: 2rem;
}
footer .logo{
	height: 30px;
	margin: auto;
}
footer .text-1{
	margin: auto;
	color: #fff;
	font-size: 1.5rem;
}

.bttn{
		border: none;
		background-color: #7C542A;
		color: #ECE0CD;
		font-family: 'Bebas Neue', cursive;
		padding: 5px 30px;
		font-size: 2.3em;
		vertical-align: middle;
		width: fit-content;
		margin:30px 15px;
		border-bottom: 3px #C7741C solid;
		border-right: 3px #C7741C solid;
		box-shadow: 5px 4px 8px -3px #707070;
		border-bottom-style: outset;
		border-radius: 3px;
		text-shadow: 1px 1px 1px #ac5c00;
}
.bttn:hover, .active-bttn{
	background-color: #C7741C;
	border-right: 3px #7C542A solid;
	text-shadow: 1px 1px 1px #7C542A;
}
.btn-2{
	color: #fff;
	text-align: center;
	line-height: 90px;
	margin: 15px;
	height: 90px;
	font-size: 1.7em;
	border-radius: 5px;
	text-transform: uppercase;
	font-family:'Oswald', sans-serif;
	}
@media all and (min-width: 500px) and (max-width: 8000px){
    .bttn {padding: 5px 70px;}
}
.not-under{text-decoration: none;}

a.not-under:hover{color: #fff;}

.line-1{
	border-bottom: 0.5px dashed rgba(199,116,28,.3);
	width: 100%;
	margin-bottom: 3px;
}

.title-green{
		text-align: center;
		font-family: 'Bevan', cursive;
		font-size: 2.1em;
		font-weight: 600;
		color: #4A9A92;
		text-shadow: 2px 2px 0px #eee7d6;
		-webkit-text-stroke-color: #197B72;
		-webkit-text-stroke-width: 0.1px;
		word-spacing: 5px;
}
.title-brown-1{
		font-family: 'Oswald';
		color: #AA7342;
		letter-spacing: 3px;
}
.title-brown-2{
	font-family: 'Dancing Script', cursive;
	color: #8E5B36;
	text-shadow: 2px 2px 0px #d6b89b;
	font-size: 3em;
	line-height: 40px;
	font-weight: 600;
}
.title-brown-3{
	font-family: 'Oswald';
	color: #7D4E2B;
	letter-spacing: 3px;
	font-size: 1.5em
}
.dot-1{
	width: 3px;
	height: 3px;
	background-color: #7e4f25;
	margin: 5px;
}
.circle-1{
	border: 1px solid #f49307;
	border-radius: 100px;
	padding: 5px;
	margin: 5px;
}


.bg-1{
	background-image: url(https://pendulo.com/archivos/desayuno-back-1.jpg);
	background-position: bottom right;
}

.bg-2{background-image: url(https://pendulo.com/archivos/comida-back.png);}

.bg-3{
	background-image: url("https://pendulo.com/archivos/desayuno-back.png");
	background-position: bottom left;
    background-size: 200%;
}